extends layout

block content
  h1 Image Seach Abstraction Layour API
  div
     p(class="instructions") 
        | The <u>Objective</u> of the api is to allow the user to upload a file
        | and receive back the size of the uploaded file
  
     p(class="instructions") 
        | The api will analyze the file and only be stored in memory 
  
  ol
    li 
      | The api upload form is accessed at ../api/upload/ 
      | select a file from your computer and submit
    li 
      | The user will be redirected to ../api/results and the name and size
      | of the folder will be displayed
      
  div(id="userStory")
    h1 User Stories
    ol
      li 
        | I can submit a FormData object that includes a file upload.
      li 
        |  When I submit something, I will receive the file size in bytes within the JSON response

    div
      h1 Example
      ul
        li 
          a(href="https://obscure-oasis-49545.herokuapp.com/api/upload") https://obscure-oasis-49545.herokuapp.com/api/upload
          | 
        li 
          a(href="https://obscure-oasis-49545.herokuapp.com/api/results") https://obscure-oasis-49545.herokuapp.com/api/results
            