extends layout

block content

    h1 Select a file to be analyzed
    
    form(action="/api/results", method='post' enctype="multipart/form-data")
      input(type="file", name="userFile")
      button(type="submit") Submit
      
        