extends layout

block content
  div(class="container")
    h1 Select a File to be Analyzed
    
    form(action="/api/results", method='post' enctype="multipart/form-data")
      input(type="file", name="userFile" id="input")
      button(type="submit" disabled) Submit
      
        